BackEnd/blockchain/go-ethereum-master
BackEnd/blockchain/privateChain/chaindata
BackEnd/blockchain/go-ethereum-master.zip
BackEnd/Nodejs/web3js
BackEnd/myNodeApp/cliApp/node_modules
FrontEnd/myreactjourney/node_modules