
html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  margin: 0;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
