@keyframes sliden{
    from {

    }
    to {

    }
}
P{
    /* animation: sliden 3s timing-function delay iteration-count direction fill-mode; */
    animation: sliden 3s timing-function 5s infinite alternate fill-mode;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.box:hover {
    background-color: #FFCCCC;
    width:200px;
    height:200px;
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}